h1 {
  color: red; /* Remove this line once you verify the link works */
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav a {
  padding: 10px;
  background-color: grey; /* You can change this color */
  text-align: center;
  display: inline-block;
}

nav {
  text-align: center;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 20px auto; /* This centers the block */
}

#details div {
  float: left;
  width: 25%;
  text-align: center;
}

footer div {
  background-color: lightgrey;
  text-align: center;
  width: 25%;
  float: left;
}
